.navbar {
    background: linear-gradient(90deg, #1b263b, #415a77);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-radius: 8px;
    margin: 15px;
}

.navbar-brand {
    color: #fff;
    font-size: 26px;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
}

.menu-toggle{
    visibility: hidden;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.2);
    transition: background 0.3s, transform 0.3s;
}

.navbar-links a:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: scale(1.1);
}

@media (max-width: 720px){
    .navbar{
        flex-direction: column;
        justify-content: center;
/*        gap: 20px;*/
        padding-bottom: 30px
    }
}

@media (max-width: 530px){
    .navbar{
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        padding-bottom: 0px;
        position: relative;
    }

    .menu-toggle{
        visibility: visible;
        position: absolute;
        top: 24px;
        right: 20px;
    }
    .navbar-links{
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        height: 0px;
        overflow: hidden;
    }
    .navbar ul li{
        display: block;
    }
    .navbar ul li a{
        width: 83%;
        display: block;
    }
    .toggle-show{
        height: auto !important;
        transition: all 2000ms ease-in-out;
    }
    .toggle-show li:last-child{
        margin-bottom: 20px;
    }
    .main .men {
        width: 220px;
    }
}
