body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    opacity: 0;
    transition: opacity 3s;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 30px 15px;
/*    width: calc(100% - 40px);*/
    max-width: 1340px;
    flex-direction: row;
}

.main .men {
    width: 400px;
    transition: all 1500ms ease;
    cursor: pointer;
}

.main .men:hover {
    transform: scale(1.15);
}

.main .main-detil {
    text-align: center;
    color: #2a2a2a;
}

.main-detil p {
    font-size: 18px;
    text-align: left;
    margin-bottom: 5px;
}

.main .main-detil h1 {
    font-size: 50px;
    text-align: left;
}

.main .main-detil h4 {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
}

.main .btn button {
    padding: 8px 20px;
    background: transparent;
    border-radius: 30px;
    border: 1px solid #2a2a2a;
    margin-right: 1rem;
    margin-bottom: 30px;
    cursor: pointer;
}

.main .btn .btn-2 {
    padding: 8px 30px;
    background: #2a2a2a;
    color: #fff;
    border: none;
    outline: none;
    transition: all 2000ms ease-in-out;
}

.main .btn .btn-2:hover {
    background: cornflowerblue;
    transform: scale(1.1);
}

.social i {
    color: #2a2a2a;
    font-size: 40px;
    margin: 0px 14px;
    transition: all 2000ms ease-in-out;
    cursor: pointer;
}

.social i:hover {
    color: cornflowerblue;
}

/*contact.main page design*/
.contact .social i{
    font-size: 20px !important;
    margin-left: 10px;
    margin-right: 0px;
    margin-bottom: -20px !important;
}
.contact .social a{
    color: black;
    text-decoration: none;
    font-size: 20px !important;
}

@media (max-width: 880px){
    .main .men {
        width: 300px;
    }
    .main-detil p{
        font-size: 18px;
    }
    .main-detil h1{
        font-size: 30px !important;
        margin: 5px 0px;
    }
    .main-detil h4{
        font-size: 20px !important;
        margin: 8px 0px;
    }
}

@media (max-width: 732px){
    .main .men {
        width: 250px;
    }
}


@media(max-width: 660px){
    .main{
        flex-direction: column;
        gap: 10px !important;
    }
}

